button {
	width:300px;
	height:300px;
	border:1px black solid;
	background:white;
	font-family: Verdana;
	font-size:20px;
	font-weight: 700;
}

button:before {
	content: "ENVIAR";
}

button.desactivado {
	background: rgba(0,0,0,0.4);
}

button.desactivado:before {
	content: "ENVIADO";
}

table {
	width:400px;
}

tr, td {
	border:1px solid black;
	height:50px;
}

td.seleccionado {
	background-color: rgba(255,0,0,0.5);
}